/*
html, body {
  font-family: Lucida Sans, Lucida Grande, Arial !important;
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px;
}

section {
  padding-top: 20px;
}

.cal-header {
  height: 100px;
}

.timelineDiv {
  height: 200px;
}

footer, .push{
  height: 142px;
  background: #f2f2f2;
}

.brandImg img{
  margin-top: -10px;
  height: 40px;
}

.mainDiv {
  height: 100%;
}

.signInBtn {
  display: none;
}

.signOutBtn {
  display: none;
}

.cal-header {
  background-image: url("../img/header-topo.svg");
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
  cursor: default;
}

.nav-tabs {
  border-bottom: none;
}

* {
  margin: 0;
  padding: 0;
}
*/

/* must declare 0 margins on everything, also for main layout components
use padding, not vertical margins (top and bottom) to add spacing, else
those margins get added to total height and your footer gets pushed down
a bit more, creating vertical scroll bars in the browser */

html, body, #wrap {
  height: 100%;
  background: #777;
}

body > #wrap {
  height: auto;
  min-height: 100%;
}

#main {
  padding-bottom: 100px;  /* must be same height as the footer */
}

#footer {
  position: relative;
  background: #444;
  margin-top: -100px;  /* negative value of footer height */
  height: 100px;
  clear: both;
}

.footerLogo {
  height: 75px;
  margin-top: 10px;
}

.cal-header {
  background-image: url("../img/header-topo.svg");
  height: 75px;
  box-shadow: 0px 5px 20px 5px #444;
}

.mainDiv {
  height: 700px;
  background: #000;
}

.timelineDiv {
  height: 300px;
  background: #f2f2f2;
  margin-bottom: 15px;
}

/* CLEAR FIX */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 0;
}
.clearfix {
  display: block;
}

#main, .leader {
  margin-top: 15px;
}

.orgInfo {
  float: right;
  text-align: right;
  margin-top: 10px;
}

.tightText p {
  margin: 0;
  font-size: 0.875em;
}

.lightGray {
  color: #777;
}

.white {
  color: #FFFFFF;
}

.hero-unit {
  background-image:url('../img/bushehr3.png');
  background-size:cover;
  background-color: #444;
  height: 500px;
  margin-bottom: 25px;
  margin-top: -25px;
}

.hero-unit h1 {
  color: #FFFFFF;
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 150px 10px 25px 25px;
}
.hero-unit h2 {
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px 10px 25px 25px;
}

.mainStage {
  /*height: 500px;*/
}

.vis-item {
  cursor: pointer;
}

/*
.fill{
  width:100%;
  height:350px;
  background-position:center;
  background-size:cover;
}
*/

